$primary-color: #4056A1;
$secondary-color: #7780a1;
$body-color: #f4f1ec;
$primary-font-color: #545149;
$primary-fonts: 'Source Sans Pro', sans-serif;
$light-font-color: #ffffff;
$secondary-font: 'Bungee';