/* 
Styles for Header
 */
@use 'base';

$margin-val: 5px;

.user {
  background-color: base.$secondary-color;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  width: 100%;
  text-align: center;

  img {
    margin: $margin-val;
  }

  h2 {
    margin: $margin-val;
  }
}