/*
Styles for tweet container
*/

@use 'base';

.tweet {
  position: relative;
  width: 75%;
  max-width: 800px;
  margin: 10px auto;
  border: base.$typical-border;
  opacity: 0.7;

  .tweet-body {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    border-bottom: base.$typical-border;
    font-size: 0.8em;
  }

  header {
    height: 50px;
    margin: 10px;

    img {
      width: 50px;
    }

    p {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      margin: 0;
      line-height: 50px;
      font-weight: 600;
    }

    .handle {
      position: absolute;
      right: 20px;
      font-style: italic;
      font-weight: 300;
      opacity: 0.6;
      visibility: hidden;
    }
  }

  footer {
    p {
      display: inline-block;
      padding: 10px;
      margin: 0 10px;
      font-size: 0.6em;
    }

    div {
      display: inline-block;
      position: absolute;
      right: 20px;
    }

    img {
      width: 15px;
      vertical-align: middle;
    }    
  }
}

.tweet:hover {
  box-shadow: 3px 3px 3px 0px base.$secondary-color;
  opacity: 1;

  .handle {
    visibility: visible;
  }
}
