/* 
Styles for Header
 */
header.user {
  margin-top: 50px;
  height: 400px;
  width: 100%;
  background-color: #7780a1;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

header.user div {
  width: 100%;
  text-align: center;
}

header.user div img {
  padding-top: 2.5em;
}

header.user div h2 {
  margin: 0;
}