/* 
Styles for Navbar
*/
nav {
  background-color: #4056A1;
  /* color: #FFFFFF; */
  font-size: 1.5em;
  height: 80px;
  /* margin-bottom: 20px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav span {
  position: absolute;
  font-family: 'Bungee';
  margin: 22px;
  color: #ffffff;
}
/* 
nav a {
  vertical-align: sub;
  color: #FFFFFF;
  text-decoration: none;
} */