/* 
Styles for Navbar
*/
nav {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 9999;
  background-color: #4056A1;
  color: #FFFFFF;
  margin-bottom: 20px;
  top: 0;
  font-size: 2em;
}

nav span {
  position: absolute;
  font-family: 'Bungee';
  margin: 1.5rem;
  
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}