:root {
  --primary-black: #000000
}

.tweet {
  position: relative;
  width: 75%;
  max-width: 800px;
  margin: 10px auto;
  border: 4px solid var(--primary-black);
  opacity: 0.7;
}

.tweet:hover {
  box-shadow: 3px 3px 3px 0px #7780a1;
  opacity: 1;
}

.tweet:hover .handle {
  visibility: visible;
}

.tweet header {
  height: 50px;
  margin: 10px;
}

.tweet header img {
  display: inline-block;
  width: 50px;
}

.tweet header p {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin: 0;
  line-height: 50px;
  font-weight: 600;
}

.tweet header .handle {
  font-style: italic;
  font-weight: 300;
  opacity: 0.6;
  position: absolute;
  right: 20px;
  visibility: hidden;
}

.tweet .tweet-body {
  border-bottom: 4px solid var(--primary-black);
  font-size: 0.8em;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
}

.tweet footer p {
  display: inline-block;
  font-size: 0.6em;
  margin: 0 10px;
  padding: 10px;
}

.tweet footer div {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.tweet footer img {
  width: 15px;
  vertical-align: middle;
}
